*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.current-btn{
  background: #000;
  color: #fff;
}

.characters-row{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 16px;
}